**Python Assignment**

1.a)Simple and Readable Syntax:
Python's syntax is clean and easy to read

b)Python has many libraries:
It has many libaries for many uses

c)Python has easy codes:
It has line-by-line codes

2.Keywords have special meanings and serve as building blocks for Python code

a)print()

In [5]:
a=print("Hello")
a

Hello

b)type()

In [7]:
b=30.3
type(b)

float

c)help()

In [9]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

d)if()

In [11]:
if 3 > 2:
    print("greater")

greater

e)elif()

In [13]:
r=100
if r<10:
  print("Greater than 10")
elif r==100:
  print("Equal to 100")
else:
  print("other number")

Equal to 100

3)Mutable Objects:

Mutable objects are those can be changed after they are created.

*Lists

*Dictionaries

*Sets

*Byte Arrays

In [15]:
my_list = [1, 2, 3]
print(id(my_list))  # Output: e.g., 140507182134928 (memory address)

# Modify the list
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]
print(id(my_list))  # Same memory address as before, indicating that the object was modified in place.

2207630941184
[10, 2, 3]
2207630941184

Immutable Objects:
Immutable objects are those whose state cannot be changed after they are created.

*Integers (int)

*Floats (float)

*Strings (str)

*Tuples (tuple)

*Booleans (bool)

In [17]:
s = "Hello"
print(id(s))  # Output: e.g., 140507182136640 (memory address)

# Modify the string
s = s + " World"
print(s)  # Output: "Hello World"
print(id(s))  # Different memory address, indicating a new string object was created.

2209745880768
Hello World
2209737771120

4)Types of operators in python:

a)Arithmetic Operators:

Addition

Subtraction

Multiplication

Division

Floor Division

Modulus (Remainder)

Exponentiation

In [19]:
a = 10
b = 3
print(a + b)  # Output: 13
print(a - b)  # Output: 7
print(a * b)  # Output: 30
print(a / b)  # Output: 3.3333333333333335
print(a // b)  # Output: 3
print(a % b)  # Output: 1
print(a ** b)  # Output: 1000

13
7
30
3.3333333333333335
3
1
1000

b)Comparison Operators:

Equal to

Not equal

Greater than

Less than

Greater than or equal

Less than or equal

In [21]:
x = 7
y = 5
print(x > y)  # Output: True
print(x < y)  # Output: False
print(x == y)  # Output: False
print(x != y)  # Output: True

True
False
False
True

c)Logical Operators:

and

or

not

In [23]:
a = 5
b = 3
print(a > 2 and b > 2)  # Output: True
print(a > 6 or b < 4)   # Output: True
print(not (a < 3))      # Output: True

True
True
True

d)Assignment Operators:
Assign

Add and assign

Subtract and assign

Multiply and assign

Divide and assign

Floor divide and assign

Modulus and assign

Exponent and assign

In [25]:
x = 5
x += 3  # Equivalent to x = x + 3
print(x)  # Output: 8

x *= 2  # Equivalent to x = x * 2
print(x)  # Output: 16

8
16

e)Bitwise Operators:
AND

OR

XOR

NOT

Left Shift

Right Shift

In [27]:
a = 5  # Binary: 101
b = 3  # Binary: 011
print(a & b)  # Output: 1 (Binary: 001)
print(a | b)  # Output: 7 (Binary: 111)
print(a ^ b)  # Output: 6 (Binary: 110)
print(~a)     # Output: -6 (Inverts bits)

1
7
6
-6

5)Type casting in Python refers to the process of converting one data type into another.

Common Functions for Explicit Type Casting:

int(): Converts a value to an integer.

float(): Converts a value to a float.

str(): Converts a value to a string.

list(): Converts a value to a list.

tuple(): Converts a value to a tuple.

set(): Converts a value to a set.

dict(): Converts a value to a dictionary

Converting String to Integer:

In [30]:
num_str = "100"
num_int = int(num_str)
print(num_int)  # Output: 100
print(type(num_int))  # Output: <class 'int'>

100
<class 'int'>

Converting Float to Integer:

In [32]:
num_float = 10.6
num_int = int(num_float)
print(num_int)  # Output: 10

10

Converting Integer to Float:

In [34]:
num_int = 5
num_float = float(num_int)
print(num_float)  # Output: 5.0
print(type(num_float))  # Output: <class 'float'>

5.0
<class 'float'>

Converting Integer to String:

In [36]:
num_int = 123
num_str = str(num_int)
print(num_str)  # Output: "123"
print(type(num_str))  # Output: <class 'str'>

123
<class 'str'>

Converting List to Tuple:

In [38]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3, 4)
print(type(my_tuple))  # Output: <class 'tuple'>

(1, 2, 3, 4)
<class 'tuple'>

Converting List of Tuples to Dictionary:

In [40]:
my_list = [("a", 1), ("b", 2), ("c", 3)]
my_dict = dict(my_list)
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

Converting String to List:

In [42]:
my_string = "hello"
my_list = list(my_string)
print(my_list)  # Output: ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

6)Conditional statements in Python are used to execute specific blocks of code based on whether a condition (or set of conditions) evaluates to True or False.

Types of Conditional Statements in Python:

if Statement

if-else Statement

if-elif-else Statement

Nested if Statement

a) if Statement

In [45]:
num = 10
if num > 5:
    print("The number is greater than 5.")
# Output: The number is greater than 5.

The number is greater than 5.

b) if-else Statement

In [47]:
num = 3
if num > 5:
    print("The number is greater than 5.")
else:
    print("The number is less than or equal to 5.")
# Output: The number is less than or equal to 5.

The number is less than or equal to 5.

c) if-elif-else Statement

In [49]:
num = 8
if num > 10:
    print("The number is greater than 10.")
elif num == 10:
    print("The number is equal to 10.")
elif num > 5:
    print("The number is greater than 5 but less than 10.")
else:
    print("The number is 5 or less.")
# Output: The number is greater than 5 but less than 10.

The number is greater than 5 but less than 10.

d) Nested if Statement

In [51]:
num = 15
if num > 10:
    print("The number is greater than 10.")
    if num % 2 == 0:
        print("The number is also even.")
    else:
        print("The number is odd.")
# Output:
# The number is greater than 10.
# The number is odd.

The number is greater than 10.
The number is odd.

7) Types of loops:

for Loop

In [53]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
# Output:
# apple
# banana
# cherry

apple
banana
cherry

while Loop

In [55]:
count = 0
while count < 5:
    print(count)
    count += 1
# Output:
# 0
# 1
# 2
# 3
# 4

0
1
2
3
4

break Statement

In [57]:
for i in range(5):
    if i == 3:
        break
    print(i)
# Output:
# 0
# 1
# 2

0
1
2

continue Statement

In [59]:
for i in range(5):
    if i == 3:
        continue
    print(i)
# Output:
# 0
# 1
# 2
# 4

0
1
2
4

else Clause with Loops

In [61]:
for i in range(5):
    print(i)
else:
    print("Loop completed.")
# Output:
# 0
# 1
# 2
# 3
# 4
# Loop completed.

0
1
2
3
4
Loop completed.