**Practical Questions**

**(1)**

In [ ]:
my_list =int(input())
def int_to_list(n):
    return [int(digit) for digit in str(n)]
v=int_to_list(my_list)
def sum_of_even_numbers(numbers):
    total = 0
    for num in numbers:
        if num % 2 == 0:  # Check if the number is even
            total += num
    return total
sum_of_even_numbers(v)

6789

14

**(2)**

In [ ]:
python_string=input()
reverse_string=python_string[::-1]
reverse_string

adeel

'leeda'

**(3)**

In [ ]:
def square_numbers(numbers):
    return [num ** 2 for num in numbers]

# Input as a space-separated string of numbers
numbers = list(map(int, input("Enter numbers separated by spaces: ").split()))

result = square_numbers(numbers)
print(result)

Enter numbers separated by spaces: 1 2 3 4
[1, 4, 9, 16]

**(4)**

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in range(1, 201) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

**(5)**

In [ ]:
class Fibonacci:
    def __init__(self, num_terms):
        self.num_terms = num_terms  # Number of terms to generate
        self.a = 0  # First term
        self.b = 1  # Second term
        self.count = 0  # Counter to keep track of the number of terms

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.num_terms:
            raise StopIteration  # Stop when we reach the specified number of terms
        self.count += 1
        fib_number = self.a  # Store the current value of `a` to return
        self.a, self.b = self.b, self.a + self.b  # Move to the next terms
        return fib_number
# Create an instance of the Fibonacci class with the number of terms you want
f=int(input())
fib = Fibonacci(f)

# Use a for loop to print the sequence
for num in fib:
    print(num)

20
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

**(6)**

In [ ]:
def powers_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i  # Yield 2 raised to the power of i
# Set the maximum exponent you want
max_exponent =int(input())

# Create a generator for powers of 2
for power in powers_of_two(max_exponent):
    print(power)

10
1
2
4
8
16
32
64
128
256
512
1024

**(7)**

In [ ]:
# Sample list of tuples
data = [(1, 3), (4, 1), (5, 2), (2, 5)]

# Sort the list of tuples based on the second element
sorted_data = sorted(data, key=lambda x: x[1])

# Print the sorted list
print(sorted_data)

[(4, 1), (5, 2), (1, 3), (2, 5)]

**(8)**

In [ ]:
# Sample list of tuples
data = [(1, 3), (4, 1), (2, 2), (5, 0)]

# Using sorted() with a lambda function
sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[(5, 0), (4, 1), (2, 2), (1, 3)]

**(9)**

In [ ]:
# List of temperatures in Celsius
celsius_temperatures =list(input())

# Using map() with a lambda function to convert Celsius to Fahrenheit
fahrenheit_temperatures = list(map((lambda c: (c * 9/5) + 32, celsius_temperatures).split()))

print(fahrenheit_temperatures)

1 23 4

AttributeError: 'tuple' object has no attribute 'split'

**(10)**

In [ ]:
# Given string
input_string =input()
# Define a set of vowels for easy lookup
vowels = set("aeiouAEIOU")

# Use filter() to remove vowels
filtered_string = "".join(filter(lambda char: char not in vowels, input_string))

print(filtered_string)

Physics Wallah
Physcs Wllh

In [ ]:
# Input list of orders
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Function to process orders
def process_orders(orders):
    # Use list comprehension to create a list of tuples
    result = [
        (order[0], order[2] * order[3] + 10 if order[2] * order[3] < 100 else order[2] * order[3])
        for order in orders
    ]
    return result

# Call the function and store the result
result = process_orders(orders)

# Print the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]

In [ ]:
# Input list of orders
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Use map with a lambda function to create the list of tuples
result = list(map(lambda order: (order[0], order[2] * order[3] + 10 if order[2] * order[3] < 100 else order[2] * order[3]), orders))

# Print the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]